In [2]:
import pandas as pd

In [3]:
# Напишем функцю, которая на вход принимает ссылку на датасет и сепаратор, 
# а возвращает нам датафрейм со компаниями и средним размером поступлений в эти компании

In [4]:
test = pd.read_csv('/Users/79295/Desktop/GITHUB/Analytical-practice/datasets/3_companies.csv', sep = ';')
test.head()

                                company       income        date
0  ЗАО «Доронин, Колобов и Калашникова»   1221331958  2019-09-09
1                          ООО «Авдеев»  21116804375  1972-12-21
2                РАО «Аксенов Сорокина»  79257158759  2007-03-05
3                Ларионов Инкорпорэйтед  36799366126  2011-08-11
4               Григорьев Инкорпорэйтед  48201837498  1989-09-02

In [5]:
def read_n_agg(dataset_link, separator):
    import pandas as pd
    
    df = pd.read_csv(dataset_link, sep = separator)
    avg_income = df.groupby('company', as_index = True) \
                    .agg({"income":"mean"}).rename(columns={"income":"avg_income"})
    return avg_income

In [6]:
read_n_agg('/Users/79295/Desktop/GITHUB/Analytical-practice/datasets/3_companies.csv', ';')

                                            avg_income
company
En +                                      9.962187e+10
АО «Александрова, Савельев и Мельникова»  7.206782e+10
АО «Андреев-Анисимов»                     6.931948e+09
АО «Андреев-Макарова»                     8.934380e+10
АО «Большаков Кошелева»                   7.860861e+10
...                                                ...
Щекиноазот                                4.309092e+10
Щукин Лимитед                             6.703036e+10
Эйвон Бьюти Продактс Компани (Avon)       2.503657e+10
Яковлева Инкорпорэйтед                    3.523436e+10
Якушев Лимитед                            3.876468e+10

[289 rows x 1 columns]