In [1]:
import pandas as pd

In [12]:
taxi = pd.read_csv('/Users/79295/Desktop/GITHUB/Analytical-practice/Pandas/taxi.csv',
                encoding = 'windows-1251', sep=',')

In [13]:
taxi

,pickup_dt,pickup_month,borough,pickups,hday,spd,vsb,temp,dewp,slp,pcp 01,pcp 06,pcp 24,sd
0,2015-01-01 01:00:00,Jan,Bronx,152,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
1,2015-01-01 01:00:00,Jan,Brooklyn,1519,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
2,2015-01-01 01:00:00,Jan,EWR,0,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
3,2015-01-01 01:00:00,Jan,Manhattan,5258,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
4,2015-01-01 01:00:00,Jan,Queens,405,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29096,2015-06-30 23:00:00,Jun,EWR,0,N,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0
29097,2015-06-30 23:00:00,Jun,Manhattan,3828,N,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0
29098,2015-06-30 23:00:00,Jun,Queens,580,N,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0
29099,2015-06-30 23:00:00,Jun,Staten Island,0,N,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0
29100,2015-06-30 23:00:00,Jun,NaN,3,N,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0

In [14]:
taxi.columns

Index(['pickup_dt', 'pickup_month', 'borough', 'pickups', 'hday', 'spd', 'vsb',
       'temp', 'dewp', 'slp', 'pcp 01', 'pcp 06', 'pcp 24', 'sd'],
      dtype='object')

Проверьте, сколько всего строк и столбцов имеется в датасете.

In [15]:
taxi.shape

(29101, 14)

In [16]:
taxi.dtypes

pickup_dt        object
pickup_month     object
borough          object
pickups           int64
hday             object
spd             float64
vsb             float64
temp            float64
dewp            float64
slp             float64
pcp 01          float64
pcp 06          float64
pcp 24          float64
sd              float64
dtype: object

Переименуем колонки для более удобной работы с данными:

In [17]:
taxi = taxi.rename(columns={"pcp 01":"pcp_01",
                   "pcp 06":"pcp_06",
                   "pcp 24":"pcp_24",
                  })

Узнаем сколько раз в нашем датафрейме встречается каждый из районов:

In [30]:
taxi['borough'].value_counts()

Bronx            4343
Brooklyn         4343
EWR              4343
Manhattan        4343
Queens           4343
Staten Island    4343
Name: borough, dtype: int64

Посчитаем сколько всего было совершено поездок:

In [36]:
taxi.agg({'pickups': 'sum'})

pickups    14265773
dtype: int64

Узнаем из какого районо совершено наибольшее кол-во поездок:

In [45]:
taxi \
    .groupby('borough') \
    .agg({'pickups': 'sum'}) \
    .sort_values('pickups', ascending = False)

                pickups
borough
Manhattan      10367841
Brooklyn        2321035
Queens          1343528
Bronx            220047
Staten Island      6957
EWR                 105

Сохраним в переменную название района с наименьшим количеством поездок, применив метод idxmin():

In [48]:
min_pickups = \
taxi \
    .groupby('borough') \
    .agg({'pickups': 'sum'}) \
    .idxmin()

In [49]:
min_pickups

pickups    EWR
dtype: object

Оценим среднее кол-во поездок в выходные и рабочие дни с разбивкой по районам:

In [53]:
taxi \
    .groupby(['borough','hday']) \
    .agg({'pickups': 'mean'}) \
    .sort_values('pickups', ascending = False)

                        pickups
borough       hday
Manhattan     N     2401.302921
              Y     2035.928144
Brooklyn      N      534.727969
              Y      527.011976
Queens        Y      320.730539
              N      308.899904
Bronx         N       50.771073
              Y       48.065868
Staten Island N        1.606082
              Y        1.497006
EWR           Y        0.041916
              N        0.023467

Отметим, что в выходные больше поездок происходит в районах : Queens, EWR

Для каждого района посчитайте число поездок по месяцам. Отсортируйте полученные значения по убыванию и сохраните результирующий датафрейм в pickups_by_mon_bor

In [56]:
pickups_by_mon_bor = taxi \
    .groupby(['pickup_month','borough']) \
    .agg({'pickups': 'sum'}) \
    .sort_values('pickups', ascending = False)

In [57]:
pickups_by_mon_bor

                            pickups
pickup_month borough
Jun          Manhattan      1995388
May          Manhattan      1888800
Feb          Manhattan      1718571
Mar          Manhattan      1661261
Apr          Manhattan      1648278
Jan          Manhattan      1455543
Jun          Brooklyn        482466
May          Brooklyn        476087
Apr          Brooklyn        378095
Mar          Brooklyn        346726
Feb          Brooklyn        328650
Jan          Brooklyn        309011
Jun          Queens          286311
May          Queens          275893
Mar          Queens          219561
Apr          Queens          216857
Feb          Queens          185695
Jan          Queens          159211
May          Bronx            53037
Jun          Bronx            49006
Apr          Bronx            34617
Mar          Bronx            32232
Feb          Bronx            28694
Jan          Bronx            22461
Jun          Staten Island     1673
May          Staten Island     1517
Apr          Staten Island     1068
Mar          Staten Island      975
Feb          Staten Island      903
Jan          Staten Island      821
Jun          EWR                 29
May          EWR                 27
Mar          EWR                 14
Feb          EWR                 14
Jan          EWR                 11
Apr          EWR                 10

Напишем функцию, которая принимает на вход значение температуры воздуха в Фаренгейтах и переводит его в шкалу Целься

In [80]:
def temp_to_celcius(temp):
    temp_C = (taxi.temp - 32) / 1.8
    return temp_C

In [81]:
taxi['temp'][:5]

0    30.0
1    30.0
2    30.0
3    30.0
4    30.0
Name: temp, dtype: float64

In [82]:
print(temp_to_celcius(30))

0        -1.111111
1        -1.111111
2        -1.111111
3        -1.111111
4        -1.111111
           ...
29096    23.888889
29097    23.888889
29098    23.888889
29099    23.888889
29100    23.888889
Name: temp, Length: 29101, dtype: float64

In [83]:
taxi['temp_C'] = temp_to_celcius(taxi['temp'])

In [84]:
taxi['temp_C'][:5]

0   -1.111111
1   -1.111111
2   -1.111111
3   -1.111111
4   -1.111111
Name: temp_C, dtype: float64