In [2]:
age = 31
name = 'Alex'

In [3]:
user_info = ['Alex', 'Galkov', 60.0, 1]

In [5]:
salaries = [ 42, 80, 100, 86]

In [6]:
first = salaries[0]

In [7]:
for i in salaries:
    if i > 70:
        print(i)

80
100
86

In [8]:
user_ages = [10, 18, 21, 35, 42, 27, 12, 16]

In [9]:
for i in user_ages:
    if i > 18:
        print(i)

21
35
42
27

In [13]:
worker = ['Olya', 'Silyutina', 350000, 3]

In [25]:
if worker[3] < 2:
    position = 'junior'
elif 2 <= worker[3] <= 5:
    position = 'middle'
else:
    position = 'senior'
status = worker[0] + ' ' + worker[1] + ' ' +  'is' + ' ' + position

In [26]:
print(status)

Olya Silyutina is middle

In [27]:
values = [12, 134, 10, 47, 100, 20, 50, 160, 210]

In [30]:
tens = []
for i in range(len(values)):
    if values[i] % 10 == 0:
        tens.append(values[i])
print(tens)

[10, 100, 20, 50, 160, 210]

In [38]:
workers = [['Olya', 'Silyutina', 35000, 1],
           ['Anna', 'Blagova', 50000, 1],
           ['Efrem', 'Kapusta', 150000, 6],
           ['Ignat', 'Mirzalizade', 80000, 2]]

In [39]:
for i in range(len(workers)):
    for j in range(len(workers[i])):
        if workers[i][3] < 2:
            position = 'junior'
        elif 2 <= workers[i][3] <= 5:
            position = 'middle'
        else:
            position = 'senior'
    print(workers[i][0] + ' ' + workers[i][1] + ' ' +  'is' + ' ' + position)

Olya Silyutina is junior
Anna Blagova is junior
Efrem Kapusta is senior
Ignat Mirzalizade is middle

In [41]:
lst = []
for i in range(0,11,2):
    lst.append(i)
print(lst)

[0, 2, 4, 6, 8, 10]

In [46]:
salaries_dict = {'name' : 'Masha', 
                 'surname' : 'Volkova', 
                 'age' : 25, 
                 'salary' : 60000, 
                 'position' : 'junior'}

In [47]:
users_dict = {'mvolkova': {'name' : 'Masha', 
                         'surname' : 'Volkova', 
                         'age' : 25, 
                         'salary' : 60000, 
                         'position' : 'junior'},
             'pvoronov':{'name' : 'Pavel', 
                         'surname' : 'Voronov', 
                         'age' : 29, 
                         'salary' : 100000, 
                         'position' : 'junior'},
              'pparker':{'name' : 'Pater', 
                         'surname' : 'Parker', 
                         'age' : 33, 
                         'salary' : 150000, 
                         'position' : 'middle'},
              'akarpov':{'name' : 'Anatoly', 
                         'surname' : 'Karpov', 
                         'age' : 30, 
                         'salary' : 250000, 
                         'position' : 'senior'},
            }

In [52]:
print(users_dict['mvolkova'])

{'name': 'Masha', 'surname': 'Volkova', 'age': 25, 'salary': 60000, 'position': 'junior'}